{{$start := .Start}}
{{$end := .End}}
{{ $nums := number $start $end }}
------------------------------------------------------------------------------------------------------------------------------------------------
Total Tickets Found: {{len .FullSlice}}
------------------------------------------------------------------------------------------------------------------------------------------------
{{ range $idx, $elem := .CurrentSlice }}
{{with $elem}}
{{$id :=  index $nums $idx }}
{{ printf "Ticket Number: %v\tAssigneed by:%v\tSubject: %25.25v\tTags: %v" $id .AssigneeId .Subject .Tags}}
{{end}}
{{end}}
------------------------------------------------------------------------------------------------------------------------------------------------
{{printf "%20v: %v out of %v" "Page" .CurrentPage .MaxPageSize}}
------------------------------------------------------------------------------------------------------------------------------------------------